@using CrystalGroupHome.Internal.Common.Data.Customers
@inherits CMHub_CMDexPartCustomerContactDialogBase
<ModalHeader>
    <ModalTitle>Add Customer Contact</ModalTitle>
    <CloseButton />
</ModalHeader>
<EditForm Model="DraftPartCustomerContactIndex" OnValidSubmit="HandleValidSubmit">
    <ModalBody>
        @if (IsLoading)
        {
            <div class="loading-gradient" style="width: 100%; height: 100%;"></div>
        }
        else if (PartCustomerContacts.Count() > 0)
        {
            <DataGrid TItem="CustomerContactDTO_Base" Data="@PartCustomerContacts"
                      TotalItems="@PartCustomerContacts.Count()"
                      Responsive
                      ResponsiveMode="@TableResponsiveMode.Mobile"
                      @ref="CustomerContactGrid"
                      ShowPager
                      PageSize="5"
                      PagerPosition="DataGridPagerPosition.Bottom"
                      PagerOptions="new(){ ButtonSize=Size.Small }"
                      Filterable
                      FilterMethod="DataGridFilterMethod.Contains"
                      FilteredDataChanged="@(e => OnFilterChanged(e))">
                <DataGridColumns>
                    <DataGridColumn Field="@nameof(CustomerContactDTO_Base.CustID)" Caption="Customer ID" />
                    <DataGridColumn Field="@nameof(CustomerContactDTO_Base.CustName)" Caption="Customer Name" />
                    <DataGridColumn Field="@nameof(CustomerContactDTO_Base.City)" Caption="City" />
                    <DataGridColumn Field="@nameof(CustomerContactDTO_Base.State)" Caption="State" />
                    <DataGridColumn Field="@nameof(CustomerContactDTO_Base.Country)" Caption="Country" />
                    <DataGridColumn Field="@nameof(CustomerContactDTO_Base.ConName)" Caption="Contact Name" />
                    <DataGridColumn Field="@nameof(CustomerContactDTO_Base.PhoneNum)" Caption="Phone #" />
                    <DataGridColumn Field="@nameof(CustomerContactDTO_Base.EMailAddress)" Caption="Email" />
                </DataGridColumns>
            </DataGrid>
        }
    </ModalBody>
    <ModalFooter>
        <Button Color="Color.Primary" Type="ButtonType.Submit" class="me-2">Add</Button>
        <Button Color="Color.Secondary" Clicked="Cancel">Cancel</Button>
    </ModalFooter>
</EditForm>