@attribute [Route(NavHelpers.CMHub_CMDexMainPage)]
@attribute [Route(NavHelpers.CMHub_CMDexPartDetails)]
@attribute [Route(NavHelpers.CMHub_CMDexPartDetailsWithPartNum)]
@attribute [Authorize]
@using CrystalGroupHome.Internal.Authorization
@using CrystalGroupHome.Internal.Features.CMHub.CMDex.Components
@using CrystalGroupHome.Internal.Features.CMHub.CMDex
@using CrystalGroupHome.SharedRCL.Helpers
@using Microsoft.AspNetCore.Authorization
@inherits CMHub_CMDexBase

<PageTitle>CM Dex</PageTitle>

<Div Style="display: flex; margin-bottom: 0.5rem;">
    <h1>CM Dex</h1>
    <AuthorizeView Policy="@AuthorizationPolicies.CMHubAdmin" Context="adminAuth">
        <Authorized>
            <div class="role-tag">ADMIN</div>
        </Authorized>
        <NotAuthorized>
            <AuthorizeView Policy="@AuthorizationPolicies.CMHubCMDexEdit" Context="editorAuth">
                <Authorized>
                    <div class="role-tag">EDITOR</div>
                </Authorized>
            </AuthorizeView>
        </NotAuthorized>
    </AuthorizeView>
    <InfoHoverIcon Style="margin-left: 0.5rem; margin-bottom: 0.75rem;"
                   HoverText="@($"Members of \"{CMHubBase.CMHubAdminRole}\" are granted ADMIN permissions here. Members of \"{CMHubBase.SalesSupportManagerRole}\" have EDITOR permissions here.")" />

    <div style="flex-grow: 1;"></div>
    @if (CurrentView == "PartDetails" && PartNum != null)
    {
        <Button Color="Color.Secondary" Clicked="NavigateToPartRelations">
            <span class="@($"{NavHelpers.BackCircleIcon} me-2")" aria-hidden="true"></span> Back to All Part Relations
        </Button>
    }
</Div>
<Div>
    @if (CurrentView == "PartGrid")
    {
        <CMHub_CMDexPartGrid/>
    }
    else if (CurrentView == "PartDetails" && PartNum != null)
    {
        <CMHub_CMDexPartForm PartNum="@PartNum" PMUsers="@PMUsers" SAUsers="@SAUsers"/>
    }
</Div>